
  

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    /* background-color: red; */
}

.hatori {
    margin-left: 50px;
}

.main__info {
    width: 100%;
    max-width: 500px;
}

.main__info p {
    font-size: 18px;
    margin: 20px 0 28px; 
    line-height: 1.3em;
    margin-left: 30px;
    
    
}

.main__info div {
    display: flex;
    column-gap: 30px;
}

.main__info div a, .main__info div button{
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;

    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;

    transform: skew(-10deg);
}

.main__info div a {
    background: var(--red);
    margin-left: 30px;
}

.main__info div button {
    background: transparent;
    border: 1px solid var(--red);
}


@media screen and (min-width: 300px) and (max-width: 992px) {
    .machado {
        display: none;
    }
}

